<div class="px-4 py-5 my-4 text-center">
    <img class="d-block mx-auto mb-3" src="https://cdn-icons-png.flaticon.com/512/2821/2821785.png" alt="" width="120" height="120">
    <h1 class="display-5 fw-bold text-body-emphasis">💖 Elevate Your Experience with Bobi Donuts! 💖</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
      Indulge in pure delight with our exquisite collection of artisanal donuts that redefine sweetness. At Deluxe Donuts, we craft each masterpiece with passion and precision, ensuring every bite transports you to a world of unparalleled taste.
      </p>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Go to shop</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>