{% block styles %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap" rel="stylesheet">
{%endblock%}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body photo">
    <div class="col-md-6 p-lg-5 mx-auto my-2">
      <h1 class="display-1 fw-bold mt-5">Bobi Donuts</h1>
      <h3 class="fw-normal text-dark mb-3">Best donuts in the whole galaxy 🪐</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
      </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>