  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 ">
        <img  style="border-radius:20px; width:590px; margin-left:auto" src="https://images.unsplash.com/photo-1680171267594-f7913762b662?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=504&q=80">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-4">Have you ever dreamed of the perfect donut that satisfies all your cravings? </h1>
        <p class="lead">Now you have the chance to craft your dream donut on our interactive website!</p>
        <p class="lead fw-normal">🎨 Infinite Combinations 🎨</p>
        <p class="lead">
            With our tool, you can choose from a variety of ingredients, glazes, and toppings to create a donut that perfectly matches your taste. Whether it's a classic glazed donut or an extravagant strawberry-filled masterpiece, the choice is yours!
        </p>
        <p class="lead fw-normal">💡 Unleash Your Creativity 💡 <p>
       <p class="lead">
          Our intuitive platform lets you experiment with endless ingredient combinations. Add your favorite glazes, sprinkles, and fillings, and even customize the shape and size of your donut. Your imagination is the only limit!
        </p>
        <p class="lead fw-normal">   📸 Share Your Culinary Masterpiece 📸 </p>
          <p class="lead">
        After crafting your perfect donut, you can showcase it to the world. Share a photo of your culinary creation on social media and see how others react to your unique design.
        </p>

      </div>
    </div>
  </div>