.photo {
    background: url("https://static.vecteezy.com/system/resources/previews/010/566/478/original/colorful-donuts-sprinkled-with-sugar-seamless-pattern-gift-wrap-wallpaper-background-kawaii-doodle-flat-cartoon-illustration-vector.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 30px;
  font-family: 'Dancing Script', cursive;

}
.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.rock {
    --bs-bg-opacity: 1;
    background-color: rgba(253, 107, 129, 0.49);
    border-radius: 10px;
}
.shop {
     --bs-bg-opacity: 3;
     background-color: rgba(250, 132, 156, 0.08);
    border-radius:10px
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.featurette-heading {
    margin-top: 7rem;
}