<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="static/style.css">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="bg-body-tertiary">

      {% include '/static/header.html' %}

    {% block content %}{% endblock %}

   {% include '/static/footer.html' %}

  </body>
</html>
