{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %} Create your donut {% endblock %}

{% block content %}

{% include '/create_donut_blocks/header.html' %}


<div class="container col-7  mb-5">
  <h2 class="h3 mt-3 mb-3  fw-normal">Create your own Donut!</h2>
 {{render_form(donuts)}}
</div>
{% endblock %}