{% extends 'base.html' %}

{% block title %} Your Ideas {% endblock %}

{% block content %}

<div class="p-5 text-center bg-body-tertiary ">
    <div class="container py-5 rock">
      <h1 class="text-body-emphasis">Your best ideas 🤍</h1>
      <p class="col-lg-8 mx-auto lead">
          You rock!
        </p>
    </div>
  </div>

 <div class="container">
 <table class="table table-sm">
  <thead >

    <tr>
      {% for row in ideas[0] %}
      <th scope="col">{{row}}</th>
      {%endfor%}
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for row in ideas[1:] %}
    <tr>
     {% for item in row  %}
      <td>{{item}}</td>
      {%endfor%}
    </tr>
   {%endfor%}
  </tbody>
</table>
     </div>

{% endblock %}