<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html lang="en" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">


    <title></title>
  </head>
  <body class="bg-body-tertiary">

<div class="container">
<main class="form-signin w-100 m-auto mt-5">
    <a href="{{url_for('home')}}" title="back to home page">
   <img class=" mx-auto mt-3 mb-2" src="https://cdn-icons-png.flaticon.com/512/2821/2821785.png" alt="" width="90" height="90">
    </a>
    <h3 class="h3 mb-3 fw-normal">Please sign in</h3>
     {{ render_form(login)}}


    {{ message}}
</main>
</div>

  </body>
</html>


