{% extends 'base.html' %}

{% block title %} Sklep {% endblock %}


{% block content %}
<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3" style="background: url('https://images.unsplash.com/photo-1602419260650-697189b3d7db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1402&q=80')">
    <h1 class="text-body-emphasis text-white ">A small database of recipes just for you!</h1>
    <p class="lead text-white">
     Choose your favorite recipe and create the perfect donut! 🍩
    </p>
  </div>
</div>

 <div class="container ">
     <a class="link-offset-2 link-underline link-underline-opacity-0" href="">🇵🇱</a>
     <a class="link-offset-2 link-underline link-underline-opacity-0" href="">🇺🇸</a>
 </div>

 <div class="container">
 <table class="table table-sm">
  <thead class="table-dark">

    <tr>
      {% for row in donuts[0] %}
      <th scope="col">{{row}}</th>
      {%endfor%}
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {% for row in donuts[1:] %}
    <tr>
     {% for item in row  %}
      <td>{{item}}</td>
      {%endfor%}
    </tr>
   {%endfor%}
  </tbody>
</table>
     </div>
{% endblock %}